{% extends "base.html" %}

{% block title %}
    Update
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-item nav-link {{ 'active' if active_menu=='register' }}" id="register" href="{{ url_for('register') }}">Register</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/kubrit-sygnet-k.png') }}" width="30" height="30" class="d-inline-block align-top" alt="FAKubri">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link {{ 'active' if active_menu=='login' }}" id="login" href="{{ url_for('login') }}">Login</a>
            </li>
        </ul>
    </div>
</nav>

<h3 class="text-muted">FAKubri</h3>

<div class="jumbotron">
    <h1>{{error}}</h1>
</div>

{% endblock %}